{% extends 'base.html.njk' %}

{% block body %}
<h2>{{ animal.name }}</h2>

<img src="{{ animal.image_url }}" />

<h3>Price: ${{ animal.price.toFixed(2) }}</h3>

<h3>Product details:</h3>

<ul>
  <li>Color: {{ animal.color }}</li>
  <li>Size: {{animal.size}}</li>
</ul>

<a class="btn btn-primary" href="/add-to-cart/{{ animal.animal_id }}">Add to cart</a>

{% endblock %}
