table td {
  font-size: 1rem;
  width: 100px;
  height: 60px;
}

table td:nth-child(2) {
  text-align: left;
  max-width: 300px;
  width: 300px;
  overflow-wrap: break-word;
}

table td:nth-child(2) input[type='text'] {
  width: 100%;
}

table td:nth-child(1) {
  width: 110px;
}

input[type='text'] {
  font-size: inherit;
  text-align: inherit;
  width: 50px;
}

table td:nth-child(2) input[type='text'] {
  width: 150px;
}

tfoot button {
  width: 100%;
}
